*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.sky{
    width: 100vw;
    height: 100vh;
    background-image: url(youtube\ .Sheri\ sk\ \(208\).jpg);
    background-size: cover;
    display: flex;
   

}
.fly{
    position: absolute;
    top: 400px;
    width: 300px;
    height: 100px;
    /* background-color: #663232; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: flyingjet 8s 0s linear infinite;
}

.aeroplane {
    height: 50px;
    width: auto;
   
} 

.smoke{
    /* background-image: url(Heat-Smoke-Culinary-Art-PNG.png); */
    transform: rotate(90deg);
    height: 50px;
    
    position: absolute;

    bottom: 15px;
    left: 260px;
   
   
   
}

@keyframes flyingjet {

    0%{
        right:-20%;

    }
    100%{
        right:120%;
    }
    
}